<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student;s Entry</title>
</head>

<body>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <label for="Id" class="form-label">Student's Id</label>
                <br>
                <input type="number" class="id-type">
            </div>
        </div>


        <br>
        <br>

        <div class="row">
            <div class="col-md-12">
                <label for="Name" class="form-label">Student's Name</label>
                <br>
                <input type="text" class="student-type">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                <label for="email" class="form-label">Student's Email</label>
                <br>
                <input type="email" class="email-type">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                <label for="phone" class="form-label">Student's Phone Number</label>
                <br>
                <input type="tel" class="phone-type">
                <br>
                <br>

                <button type="submit" class="button">Submit</button>
            </div>
        </div>
    </div>


</body>

</html>