<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Data</title>
    <link rel="stylesheet" type="text/css" href="/css/individual.css">

</head>

<body>

    <div class="container">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5"> </div>
                <div class="col-md-5" id="div2">
                    <p>
                        ID: {{datas.id}}
                        <br>
                        <br>
                        Name:{{datas.Name}}
                        <br>
                        <br>

                        Email:{{datas.email}}
                        <br>
                        <br>

                        Phone:{{datas.phone}}
                        <br>
                    </p>

                </div>
            </div>
        </div>

    </div>

</body>

</html>