<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student's Entry</title>
    <link rel="stylesheet" type="text/css" href="/css/submission.css">

</head>

<body>
    <div class="container">
        <form method="POST" action="/api/new-submit">
            <div class="row">
                <div class="col-md-12">
                    <label for="Name" class="form-label">Student's Name</label>
                    <br>



                    <input type="text" class="student-type" placeholder="Enter Name" name="name">

                </div>
            </div>
            <br>
            <div class=" row">
                <div class="col-md-12">
                    <label for="email" class="form-label">Student's Email</label>
                    <br>


                    <input type="email" class="email-type" placeholder="Enter Email" name="email">
                </div>
            </div>
            <br>
            <div class=" row">
                <div class="col-md-12">
                    <label for="phone" class="form-label">Student's Phone Number</label>
                    <br>


                    <input type="tel" class="phone-type" placeholder="Enter Phone Number" name="phone">
                    <br>


                    <button type="submit" class="button">Update</button>
                </div>
            </div>
        </form>
    </div>


</body>

</html>