* {
    background-color: white;
    margin: auto;
    padding: auto;
}

nav,
ul,
li {
    list-style: none;
    display: flex;
    justify-content: right;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}